* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Utility Class */

.text-white {
  color: #fff;
}

/* Jumbotron */

.jumbotron {
  height: 80vh;
  background: url("../img/jumbo.png") center center;
  background-size: cover;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.logo,
.navbar,
.button.small {
  display: inline-block;
}

.topbar {
  width: 100%;
  height: 50px;
  position: relative;
  top: 20px;
  line-height: 50px;
}

.logo {
  position: absolute;
  left: 0;
  height: 100%;
}

.logo img {
    vertical-align: middle;
}

.navbar {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.navbar ul {
  list-style: none;
}

ul li {
  display: inline-block;
}

li a {
  text-decoration: none;
  margin: 0 20px;
  font-size: 14px;
}

.button.small {
  position: absolute;
  right: 0;
}

.button.small span {
  background-color: #fff;
  border-radius: 50px;
  padding: 8px 15px;
  font-size: 14px;


}
