* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Utility Class */

.text-white {
  color: #fff;
}

a {
  font-size: 14px;
  text-decoration: none;
}

/* Jumbotron */

.jumbotron {
  height: 70vh;
  background: url("../img/jumbo.png") top center;
  background-size: cover;
  position: relative;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.logo,
.navbar,
.button-small {
  display: inline-block;
}

.topbar {
  width: 100%;
  height: 50px;
  position: relative;
  top: 10px;
  line-height: 50px;
}

.logo {
  position: absolute;
  left: 0;
  height: 100%;
}

.logo img {
  vertical-align: middle;
}

.navbar {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.navbar ul {
  list-style: none;
}

ul li {
  display: inline-block;
}

li a {
  margin: 0 20px;
}

.button-small {
  position: absolute;
  right: 0;
}

.button-small span a {
  background-color: #fff;
  color: #000;
  border-radius: 50px;
  padding: 8px 15px;
}

/* heading text */

.heading-text {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 750px;
}

.heading-text h1 {
  font-size: 40px;
  margin-bottom: 50px;
}

.heading-text p {
  font-size: 20px;
}

.button.big {
  display: inline-block;
  margin: 0 20px;
  margin-top: 30px;
  padding: 12px 20px;
  border-radius: 50px;
  line-height: 20px;
  font-weight: bold;
}

.button.big.white {
  background-color: #fff;
  color: #000;
}
.button.big.white span {
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
}

.button.big.black.text-white {
  background-color: #000;
}

/* Section 1 */

.fr {
  width: 100%;
}

.fr::after {
  content: "";
  display: table;
  clear: both;
}

.space {
  float: left;
}

.space.left {
  width: 60%;
}

.space.left img {
  width: 90%;
}

.space.right {
  width: 40%;
  padding-top: 35px;
  padding-left: 120px;
}

.space.right .inside h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.space.right .inside p {
  font-size: 18px;
}
