* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Utility Class */

.container {
  width: 1200px;
  margin: 0 auto;
}

.text-white {
  color: #fff;
}

a {
  font-size: 14px;
  text-decoration: none;
}

.grey {
  background: whitesmoke;
}
/* Jumbotron */

header {
  height: 625px;
  background: url("../img/jumbo.png") top center;
  background-size: cover;
  position: relative;
}

.container-slim {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.logo,
.navbar,
.button-small {
  display: inline-block;
}

.topbar {
  height: 50px;
  position: relative;
  top: 10px;
  line-height: 50px;
}

.logo {
  position: absolute;
  left: 0;
  height: 100%;
}

.logo img {
  vertical-align: middle;
}

.navbar {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.navbar ul {
  list-style: none;
}

ul li {
  display: inline-block;
}

li a {
  margin: 0 20px;
}

.button-small {
  position: absolute;
  right: 0;
}

.button-small span a {
  background-color: #fff;
  color: #000;
  border-radius: 50px;
  padding: 8px 15px;
}

/* heading text */

.jumbotron {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 750px;
}

.jumbotron h1 {
  font-size: 40px;
  margin-bottom: 50px;
}

.jumbotron p {
  font-size: 20px;
}

.button.big {
  display: inline-block;
  margin: 0 20px;
  margin-top: 30px;
  padding: 12px 20px;
  border-radius: 50px;
  line-height: 20px;
  font-weight: bold;
}

.button.big.white {
  background-color: #fff;
  color: #000;
}
.button.big.white span {
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
}

.button.big.black.text-white {
  background-color: #000;
}

/* Section 1 */

section {
  margin: 70px 0;
}

.fr::after {
  content: "";
  display: table;
  clear: both;
}

.space {
  float: left;
}

.space.img {
  width: 60%;
}

.space.img #item-1 {
  width: 90%;
}

.space.img #item-2 {
  width: 60%;
}

.space.img #item-3 {
  width: 50%;
}

.space.text-space {
  width: 40%;
  padding-top: 35px;
  padding-left: 120px;
}

.space.text-space .inside,
.container-slim h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.space.text-space .inside,
.container-slim p {
  font-size: 18px;
}

svg {
  display: block;
}

.rotate {
  transform: rotate(0.5turn);
}
